<securityInterceptor>
  <id>1ce6a5f8:18ef4cf334c:-7feb</id>
  <name>restInterceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>restFilterDefinitionMap</securityMetadataSource>
</securityInterceptor>